<a href="https://colab.research.google.com/github/pupadh99/Activity-1-machine-learning/blob/main/Copy_of_Practice_Activity_Writing_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install palmerpenguins

Collecting palmerpenguins
  Downloading palmerpenguins-0.1.4-py3-none-any.whl (17 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from palmerpenguins) (1.5.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from palmerpenguins) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->palmerpenguins) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->palmerpenguins) (2023.3.post1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->palmerpenguins) (1.16.0)
Installing collected packages: palmerpenguins
Successfully installed palmerpenguins-0.1.4

In [3]:
import numpy as np
import pandas as pd
from sys import exit
from palmerpenguins import load_penguins
from plotnine import ggplot, aes, geom_point, geom_bar

1. Fill in the necessary code to write a function called `times_seven()`. The function should take a single argument (`x`) and multiply the input by 7.
  + This function should check that the argument is numeric.
  + This function should also excitedly announce (print) *“I love sevens!”* if the argument to the function is a 7.

In [4]:
def times_seven(x):

  if not isinstance(x, (int,float)):
    exit("Input is not numeric!")

  if x==7:
    print("I love sevens!")

  return x * 7

2. Write and run some *unit tests* for your `times_seven` function.  What happens if the input to the function is `[1, 3, 5, 7]`?

In [5]:
result = times_seven(7)
print(result)
result= times_seven(5)
print(result)
result= times_seven(3)
print(result)
result=times_seven(1)
print(result)

I love sevens!
49
35
21
7

3. Consider the following function:

In [6]:
def add_or_subtract(first_num, second_num = 2, type = "add"):

  if (type == "add"):
    res = first_num + second_num
  elif (type == "subtract"):
    res = first_num - second_num
  else:
    exit("Please choose `add` or `subtract` as the type.")

    return res
    print(res)

This code will produce an error defined by the add_or_subtract function, as the type "multiply" is not defined in the function

**Without running the code**, predict if the following will produce:

a. 1

b. -1

c. 30

d. An error defined by the function `add_or_subtract()`

e. An error defined in a different function, which is called inside the `add_or_subtract()` function

In [7]:
add_or_subtract(5, 6, type = "subtract")

add_or_subtract("orange")

add_or_subtract(5, 6, type = "multiply")

TypeError: ignored

We get an error defined by the add or subtract function

4. Consider the following code:

In [8]:
first_num  = 5
second_num = 3

result = 8

result = add_or_subtract(first_num, second_num = 4)

result_2 = add_or_subtract(first_num)


In your Global Environment, what is the value of...

a. `first_num`

b. `second_num`

c. `result`

d. `result_2`

first_num= 5
second_num=3
result= 9 ( first num plus 4, which is assigned in the function)
result_2= 7 (5 plus the default value of 2)

first_num=5
second_num= 3, then equals 4
result =8, then equals 9 after second_num gets replaced by 4
result_2 = 9, which is the result of the function call with the default value of second_num